@model IEnumerable<Vidly.Models.Customer>

@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Customers</h1>

<div class="form-group">
    @Html.ActionLink("New Customer", "New", "Customers", null, new { @class = "btn btn-primary" })
</div>

@if (!Model.Any())
{
    <text>We don't have any customers yet.</text>
}
else
{
    <table id="customers" class="table table-hover table-bordered">
        <thead>
        <tr>
            <th>Customer</th>
            <th>Membership Type</th>
            <th>Delete</th>
        </tr>
        
        </thead>
        
        <tbody>
        @foreach (var customer in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(
                            customer.Name,
                            "Edit",
                            "Customers",
                            new {id = customer.Id},
                            null
                            )
                    </td>
                    <td>@customer.MembershipType.Name</td>
                    <td>
                        <button data-customer-id="@customer.Id" class="btn btn-danger js-delete">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
        
    </table>
}

@section scripts
{
    <script>
        $(document).ready(function() {
            $("#customers .js-delete").on("click", function () {
                    var button = $(this);

                    if (confirm("Are you sure that you want to delete this customer?")) {
                        $.ajax({
                            url: '/api/customers/' + button.attr("data-customer-id"),
                            method: 'DELETE',
                            success: function () {
                                button.parents("tr").remove();
                            }
                        });
                    }
                });
        })
    </script>
}



